In [12]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Chennai.csv'
)

In [13]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [14]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                5014 non-null   int64
 1   Area                 5014 non-null   int64
 2   Location             5014 non-null   object
 3   No. of Bedrooms      5014 non-null   int64
 4   Resale               5014 non-null   int64
 5   MaintenanceStaff     5014 non-null   int64
 6   Gymnasium            5014 non-null   int64
 7   SwimmingPool         5014 non-null   int64
 8   LandscapedGardens    5014 non-null   int64
 9   JoggingTrack         5014 non-null   int64
 10  RainWaterHarvesting  5014 non-null   int64
 11  IndoorGames          5014 non-null   int64
 12  ShoppingMall         5014 non-null   int64
 13  Intercom             5014 non-null   int64
 14  SportsFacility       5014 non-null   int64
 15  ATM                  5014 non-null   int64
 16  ClubHouse            5014 non-null   int64
 17  School               5014 non-null   int64
 18  24X7Security         5014 non-null   int64
 19  PowerBackup          5014 non-null   int64
 20  CarParking           5014 non-null   int64
 21  StaffQuarter         5014 non-null   int64
 22  Cafeteria            5014 non-null   int64
 23  MultipurposeRoom     5014 non-null   int64
 24  Hospital             5014 non-null   int64
 25  WashingMachine       5014 non-null   int64
 26  Gasconnection        5014 non-null   int64
 27  AC                   5014 non-null   int64
 28  Wifi                 5014 non-null   int64
 29  Children'splayarea   5014 non-null   int64
 30  LiftAvailable        5014 non-null   int64
 31  BED                  5014 non-null   int64
 32  VaastuCompliant      5014 non-null   int64
 33  Microwave            5014 non-null   int64
 34  GolfCourse           5014 non-null   int64
 35  TV                   5014 non-null   int64
 36  DiningTable          5014 non-null   int64
 37  Sofa                 5014 non-null   int64
 38  Wardrobe             5014 non-null   int64
 39  Refrigerator         5014 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [16]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [17]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [18]:
locations

['Perungalathur',
 'Madhavaram',
 'Karapakkam',
 'Thiruvidandhai',
 'Iyappanthangal',
 'Mevalurkuppam',
 'Kolapakkam',
 'Kundrathur',
 'Pammal',
 'Puzhal',
 'Selaiyur',
 'Thoraipakkam OMR',
 'Anna Nagar',
 'Mogappair',
 'Sholinganallur',
 'Medavakkam',
 'Avadi',
 'Tiruvottiyur',
 'Manapakkam',
 'Madipakkam',
 'Thiruvanmiyur',
 'Ramapuram',
 'Saidapet',
 'Poonamallee',
 'Pallavaram',
 'Maraimalai Nagar',
 'Madambakkam',
 'Perungudi',
 'Villivakkam',
 'Adyar',
 'Navallur',
 'Moolacheri',
 'Chromepet',
 'Nandambakkam',
 'Kelambakkam',
 'Vadapalani',
 'Kumananchavadi',
 'Porur',
 'Periyapanicheri',
 'Manikandan Nagar',
 'Kodambakkam',
 'Velachery',
 'East Tambaram',
 'Gopalapuram',
 'Sunnambu Kolathur S Kolathur',
 'Perumbakkam',
 'Cholambedu',
 'Urapakkam',
 'Raja Annamalai Puram',
 'Besant Nagar',
 'Peerakankaranai',
 'Nanmangalam',
 'Jamalia',
 'Guduvancheri',
 'Sembakkam',
 'Adambakkam',
 'Nungambakkam',
 'T Nagar',
 'K K Nagar',
 'Ambattur',
 'Valasaravakkam',
 'Kanathur Reddikuppam',
 'Mugalivakkam',
 'Purasaiwakkam',
 'Maduravoyal',
 'Gowrivakkam',
 'Mudichur',
 'West Tambaram',
 'Alwarpet',
 'Annanagar West',
 'Thiruverkadu',
 'tambaram west',
 'Guindy',
 'Korattur',
 'Tambaram Sanatoruim',
 'Irumbuliyur',
 'Kolathur',
 'Thirumullaivoyal',
 'Singaperumal Koil',
 'Ayapakkam',
 'Perambur',
 'Chetpet',
 'Kilpauk',
 'Egmore',
 'Alandur',
 'Kovur',
 'Vandalur',
 'Pozhichalur',
 'Vanagaram',
 'Thoraipakkam',
 'Ullagaram',
 'Kovilambakkam',
 'Kattupakkam',
 'Thirumazhisai',
 'Kattankulathur',
 'Ayanambakkam',
 'Sithalapakkam',
 'Vengaivasal',
 'Kilkattalai',
 'Annanagar',
 'Chengalpattu',
 'Pallikaranai',
 'Rajakilpakkam',
 'Chitlapakkam',
 'Palavakkam',
 'Kotturpuram',
 'Nenmeli',
 'Ramavaram',
 'Padi',
 'NehruNagar',
 'Pazavanthangal',
 'Thatchoor',
 'Padur',
 'Iyyappanthangal',
 'Mambakkam',
 'Egatoor',
 'Semmancheri',
 'Virugambakkam',
 'Moolakadai',
 'Siruseri',
 'Velappanchavadi',
 'Ekkatuthangal',
 'Royapettah',
 'Nandanam',
 'Vellakkal',
 'Annamalai Colony',
 'Thalambur',
 'Nanganallur',
 'Chembarambakkam',
 'Teynampet',
 'Mannivakkam',
 'Thaiyur',
 'Injambakkam',
 'Aminjikarai',
 'CIT Nagar',
 'Koyambedu',
 'Kil Ayanambakkam',
 'Choolaimedu',
 'Thirumudivakkam',
 'Kottivakkam',
 'Ponneri',
 'Mahindra World City',
 'Purasawalkam',
 'Anakaputhur',
 'TNHB',
 'Manali',
 'Mogappair East',
 'Bakthavatchalapuram',
 'Chikkarayapuram',
 'Triplicane',
 'Tiruporur Near Kelambakkam',
 'Agaramthen',
 'Vengambakkam',
 'Keelma Nagar',
 'Gerugambakkam',
 'Ottiyambakkam',
 'Vettuvankani',
 'Ponniammanmedu',
 'Ambattur INDUSTRIAL ESTATE',
 'Royapuram',
 'Shanthi Nagar',
 'Serapanacheri',
 'Kuthambakkam',
 'Anna Nagar East',
 'Pudupakkam',
 'Thiruneermalai',
 'Mangadu',
 'Arumbakkam',
 'Irandankattalai',
 'West Mambalam',
 'Tondiarpet',
 'Ayanavaram',
 'Mappedu',
 'Abiramapuram',
 'Mylapore',
 'Shenoy Nagar',
 'Ashok Nagar',
 'Tharapakkam',
 'OMR Road',
 'GST Road',
 '200 Feet Radial Road',
 'Adhanur',
 'Egattur',
 'tambaram east',
 'Pallikaranai VGP Shanti Nagar']

In [19]:
print(len(locations))

185

In [20]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [21]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185]

In [22]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [23]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,1,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,2,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,3,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,4,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,5,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0

In [24]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,1,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,2,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,3,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,4,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,5,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,74,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,60,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,185,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,74,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,11,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [25]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [26]:
X=dataset.iloc[:,1:]

In [27]:
X=X.values

In [28]:
Y=dataset.iloc[:,0]

In [29]:
Y=Y.values

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [31]:
X_train.shape

(1537, 37)

In [32]:
X_test.shape

(659, 37)

In [33]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [34]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [35]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [36]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.3239241791661732

In [37]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.8968070344195523

In [38]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.7894957928755886

In [39]:
import pickle

model=open('../static/models/modelchennai.pkl','wb')
pickle.dump(rf,model)
model.close()