In [1]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Delhi.csv'
)

In [2]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2500000,540,Madhu Vihar,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4994,3000000,540,Madhu Vihar,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4995,2600000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4996,5500000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4997,4200000,900,Uttam Nagar,3,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [3]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [5]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [6]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [7]:
locations

['Sector 10 Dwarka',
 'Uttam Nagar',
 'Sarita Vihar',
 'Dwarka Mor',
 'Sector 7 Dwarka',
 'Sector 6 Dwarka',
 'Sector 5 Dwarka',
 'Sector 23 Rohini',
 'Mayur Vihar II',
 'Sector 24 Rohini',
 'Sector 11 Dwarka',
 'Sector 23 Dwarka',
 'Sector 12 Dwarka',
 'West End',
 'Sector 9 Rohini',
 'Mundka',
 'Sector 13 Rohini',
 'Jamia Nagar',
 'Sector 19 Dwarka',
 'Sector 17 Dwarka',
 'Bindapur',
 'Sector-18 Dwarka',
 'Vasant Kunj',
 'Shastri Nagar',
 'Sector-8 Rohini',
 'Sector 9 Dwarka',
 'Shanti Park Dwarka',
 'Govindpuri',
 'Sector 22 Dwarka',
 'Matiala',
 'Saket',
 'Mahavir Enclave',
 'Burari',
 'Shahdara',
 'Babarpur',
 'Khanpur',
 'Sector 13 Dwarka',
 'Mansa Ram Park',
 'Green Park',
 'Kalkaji',
 'Sector 4 Dwarka',
 'DLF Phase 5',
 'Sector 3 Dwarka',
 'Chittaranjan Park',
 'Chattarpur',
 'Greater Kailash',
 'Sector-14 Rohini',
 'Paschim Vihar',
 'Pitampura',
 'Sector 18B Dwarka',
 'Sector 2 Dwarka',
 'Jasola',
 'Pochanpur Colony',
 'Palam',
 'Saidabad',
 'Budh Vihar',
 'Sector 25 Rohini',
 'Sector 18A Dwarka',
 'Sewak Park',
 'Sector 23B Dwarka',
 'Rohini sector 24',
 'Sector 28 Rohini',
 'Rohini Sector 9',
 'Rohini Extension',
 'nawada',
 'Alaknanda',
 'Sector 22 Rohini',
 'Lajpat Nagar',
 'South Extension 2',
 'Sector 16B Dwarka',
 'Sheikh Sarai',
 'Sidhartha Nagar',
 'Sector-D Vasant Kunj',
 'Hauz Khas',
 'Kalkaji Extension',
 'Greater kailash 1',
 'Lajpat Nagar III',
 'Safdarjung Enclave',
 'Greater Kailash II',
 'Sainik Farms',
 'Sector 20 Rohini',
 'greater kailash Enclave 1',
 'DLF Farms',
 'Mehrauli',
 'Mahipalpur',
 'mayur vihar phase 1',
 'Sarvodaya Enclave',
 'Karol Bagh',
 'West Sagarpur',
 'Ashok Vihar',
 'Sector 21 Dwarka',
 'East of Kailash',
 'Khirki Extension',
 'Dashrath Puri',
 'SULTANPUR',
 'Patparganj',
 'Kaushambi',
 'Shakurbasti',
 'Hari Nagar',
 'Siri Fort',
 'Katwaria Sarai',
 'Mayur Vihar',
 'Nasirpur',
 'Bharat Vihar',
 'Nanak Heri Village',
 'Vikas Puri',
 'Madhu Vihar',
 'New Ashok Nagar',
 'Naraina',
 'Tagore Garden Extension',
 'New Friends Colony',
 'Sector 14 Rohini',
 'Dabri',
 'R.K. Puram',
 'Vijay Mandal Enclave',
 'Sector 8 Dwarka',
 'Badarpur',
 'Masjid moth',
 'Punjabi Bagh',
 'Gulmohar Enclave',
 'Jasola Vihar Sector 8 Road',
 'Bharthal',
 'Sheikh Sarai Phase2 New Delhi',
 'Abul Fazal Enclave Jamia Nagar',
 'Ramesh Nagar',
 'Shaheen Bagh Jamia Nagar',
 'Batla House Jamia Nagar',
 'Sector 1A Dwarka',
 'Zakir Nagar',
 'i p extension patparganj',
 'Neb Sarai',
 'Jogabai Extension New Delhi',
 'Jor bagh',
 'Delhi',
 'dwarka sector 12',
 'Moti Nagar',
 'Press Enclave',
 'Kailash Colony',
 'Karampura',
 'Civil Lines',
 'Khanpur Deoli',
 'Naraina Vihar',
 'Block GH5',
 'West Punjabi Bagh',
 '3 Dwarka Sector 9 Road',
 'Dwarka 11 Sector',
 'Block UU Uttari Pitampura',
 'Siddharth Enclave',
 'Lalita Park',
 'Mathura Road Sarita Vihar',
 'Azad Apartments',
 'Sadulajab',
 'Rajouri Garden',
 'Sector 1 Dwarka',
 'Vasant Kunj Marg',
 'Munirka',
 'Paryavaran Complex',
 'Meera Bagh',
 'Kundli',
 'Hauz Khas Enclave',
 'dwarka sector 13',
 'Rohini sector 16',
 'Som Vihar',
 'Mayur Vihar Phase 2',
 'Block SD Delhi',
 'Model Town',
 'Duggal Colony',
 'Shivalik',
 'Faridabad Gurgaon Road',
 '86 Sector 21 Road',
 '1 Lane Johri Farm',
 'Bamnoli Sector 28 Dwarka',
 'Sector24',
 'IP Extension',
 'Anand Lok',
 'Devli',
 'Inderpuri',
 'MBS Nagar Block WZ',
 'Block A',
 'New Ashok Nagar Block E',
 'Pocket 12',
 'Alaknanda Gangotri Enclave',
 'Sector 19B',
 'Roop Nagar',
 'Kamla Nagar',
 'param puri',
 'Om Nagar',
 'Delhi Meerut Expressway',
 'Road Number 1',
 'Pitampura Vaishali',
 'KMP Expressway',
 'Pratap Nagar',
 'Pratap Vihar',
 'Chhatarpur Extension',
 'Block H',
 'Block C',
 'vikaspuri',
 'Block C4H',
 'Block D',
 'Rana Pratap Bagh',
 'Malka Ganj',
 'Shakti Nagar',
 'Azadpur',
 'Panchsheel Enclave',
 'Janakpuri',
 'Geetanjali Enclave',
 'Kalkaji Govindpuri',
 'Ali Gaon',
 'Noida',
 'Mall Road',
 'North Campus',
 'Block F',
 'Shalimar Bagh',
 'DLF Golf Course',
 'Park End',
 'South Delhi',
 'Sahibabad',
 'F Block',
 'Block 18',
 'Sector-7 Rohini',
 '10 Sector Dwarka',
 'Sector 6 Rohini',
 'Dwarka More',
 'Dwarka Sector3',
 'Prithviraj Road',
 'Sector 23',
 'Vasundhara Enclave',
 'Om Enclave Mithapur Extension',
 'West Enclave',
 'Khari Baoli Road',
 'Chhattarpur Enclave Phase1',
 'Rama Park',
 'Mayur Vihar 2 Phase',
 'Sector 15 Rohini',
 '92 Sector 22 Road',
 'Sector 10',
 'Sector 4 Rohini',
 'Dwarka New Delhi 110075',
 'Sunder Nagar',
 'CVD Line',
 'Vijay Nagar',
 'Malviya Nagar',
 'Molar band Extension',
 'Gurgaon Delhi Expressway',
 'Okhla Village',
 'Mayur Vihar III',
 'Vasant Vihar',
 'joshi road',
 'Krishna Nagar',
 'Sector 62',
 'Faridabad Road',
 'Aurungzeb Road',
 'Okhla',
 'Mandi House',
 'Sector 37 Rohini',
 'Vishal Enclave',
 'Sector 112',
 '85 Sector 22 Road',
 'Sushant Lok Phase 1 Barakhamba',
 'Sector 21 Dwarka New Delhi',
 'Chanakya Puri',
 'Mathura Road',
 'Sector 108',
 '75 Sector 22 Road',
 '75 Noida Road',
 'Vaishali',
 'Pratap Khand',
 'Sangam Vihar',
 '47 Sector 22 Road',
 'Munirka Vihar',
 'Ghitorni',
 'Sector 4',
 'Sector 53',
 'Shankar Vihar',
 'Krishna Park Jawahar Park',
 'Nanak Pura',
 'Green Park Extension',
 'Noida Road',
 '48 Sector 22 Road',
 'Sector 33 Rohini',
 'Munirka Marg',
 'Pocket3 Sector24',
 'Panchsheel Park',
 'Shakti Vihar School Road',
 'Residential FlatVasant Vihar',
 '79 Sector 23 Road',
 'Kundli Manesar Palwal Expressway',
 'Phase 2 Chattarpur Enclave',
 'Om Vihar',
 'Anarkali Colony',
 'Nawada Extension',
 'Lajpat Nagar IV',
 'New Manglapuri',
 'MG Road Ghitorni',
 'Tigri',
 'Dharampura',
 'Ansal Satbari',
 '78 Sector 6 Road',
 'Sector C Vasant Kunj',
 'CD Block Dakshini Pitampura',
 '59 Sector 22 Road',
 'KarKardooma',
 'Nirman Vihar',
 'Preet Vihar',
 'Gagan Vihar',
 'Anand Niketan',
 'Pushpanjali Enclave',
 'Sector 14 Dwarka',
 'Block Wb Ganesh Nagar II',
 'Block E',
 '72 Sector 23 Road',
 'Aurobindo Marg',
 'Kirti Nagar',
 'Rajpur Road',
 'Residential FlatShakurbasti',
 'Residential FlatRajouri Garden',
 '77 Sector 6 Road',
 '82 Sector 22 Road',
 'Dwarka Road',
 'South Anarkali Delhi',
 'South Extension Part 1',
 'Defence Colony',
 'Ashram New',
 'Mansarovar garden',
 'Golf Links',
 'Connaught Place',
 'Westend',
 'Raju Parak Extension',
 'Sector 26 Dwarka',
 'Swasthya Vihar',
 'Anand Vihar',
 'Pontoon Bridge',
 'Hastsal',
 'Sector 8 Dwarka Block B',
 'Transit Camp',
 'Residential FlatSeelamPur',
 'Rajpur',
 'Meenakshi Garden',
 'Dwarka sec 6']

In [8]:
print(len(locations))

339

In [9]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [10]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339]

In [11]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [12]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,1,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,3,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,2,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,4,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [13]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,1,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,3,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,2,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,4,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2500000,540,107,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4994,3000000,540,107,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4995,2600000,415,329,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4996,5500000,415,329,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4997,4200000,900,2,3,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [14]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [15]:
X=dataset.iloc[:,1:]

In [16]:
X=X.values

In [17]:
Y=dataset.iloc[:,0]

In [18]:
Y=Y.values

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [20]:
X_train.shape

(1393, 37)

In [21]:
X_test.shape

(597, 37)

In [22]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [23]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [25]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.7584796619990157

In [26]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.7822092249443992

In [27]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.7092188652048332

In [28]:
import pickle

model=open('../static/models/modeldelhi.pkl','wb')
pickle.dump(rf,model)
model.close()