In [113]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Kolkata.csv'
)

In [114]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,Barasat,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,Keshtopur,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,Rajarhat,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,Narendrapur,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,New Town,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6502,4208000,1570,Lake Town,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6503,10100000,1208,Narendrapur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6504,6669000,815,Rajarhat,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6505,4608000,952,Kaikhali,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6506,9148000,1130,Howrah,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [115]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,Barasat,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,Keshtopur,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,Rajarhat,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,Narendrapur,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,New Town,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0

In [116]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507 entries, 0 to 6506
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                6507 non-null   int64
 1   Area                 6507 non-null   int64
 2   Location             6507 non-null   object
 3   No. of Bedrooms      6507 non-null   int64
 4   Resale               6507 non-null   int64
 5   MaintenanceStaff     6507 non-null   int64
 6   Gymnasium            6507 non-null   int64
 7   SwimmingPool         6507 non-null   int64
 8   LandscapedGardens    6507 non-null   int64
 9   JoggingTrack         6507 non-null   int64
 10  RainWaterHarvesting  6507 non-null   int64
 11  IndoorGames          6507 non-null   int64
 12  ShoppingMall         6507 non-null   int64
 13  Intercom             6507 non-null   int64
 14  SportsFacility       6507 non-null   int64
 15  ATM                  6507 non-null   int64
 16  ClubHouse            6507 non-null   int64
 17  School               6507 non-null   int64
 18  24X7Security         6507 non-null   int64
 19  PowerBackup          6507 non-null   int64
 20  CarParking           6507 non-null   int64
 21  StaffQuarter         6507 non-null   int64
 22  Cafeteria            6507 non-null   int64
 23  MultipurposeRoom     6507 non-null   int64
 24  Hospital             6507 non-null   int64
 25  WashingMachine       6507 non-null   int64
 26  Gasconnection        6507 non-null   int64
 27  AC                   6507 non-null   int64
 28  Wifi                 6507 non-null   int64
 29  Children'splayarea   6507 non-null   int64
 30  LiftAvailable        6507 non-null   int64
 31  BED                  6507 non-null   int64
 32  VaastuCompliant      6507 non-null   int64
 33  Microwave            6507 non-null   int64
 34  GolfCourse           6507 non-null   int64
 35  TV                   6507 non-null   int64
 36  DiningTable          6507 non-null   int64
 37  Sofa                 6507 non-null   int64
 38  Wardrobe             6507 non-null   int64
 39  Refrigerator         6507 non-null   int64
dtypes: int64(39), object(1)
memory usage: 2.0+ MB

In [117]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [118]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [119]:
locations

['Barasat',
 'Keshtopur',
 'Rajarhat',
 'Narendrapur',
 'New Town',
 'Joka',
 'Tangra',
 'Sonarpur',
 'Madhyamgram',
 'Dum Dum',
 'Chkravarti Para',
 'Tollygunge',
 'Sarsuna',
 'Ultadanga',
 'Madurdaha Hussainpur',
 'New Alipore',
 'Mukundapur',
 'Kutighat',
 'Behala',
 'Sodepur',
 'Konnagar',
 'Uttarpara Kotrung',
 'Baguiati',
 'Hooghly Chinsurah',
 'Hussainpur',
 'Dum Dum Park',
 'Bhadreswar',
 'Garia',
 'south dum dum',
 'Santoshpur',
 'Gariahat',
 'Lake Gardens',
 'Kalighat',
 'Belghoria',
 'Tagore Park',
 'Kamardanga',
 'Ballygunge',
 'Purba Putiary',
 'Ariadaha',
 'Rahara',
 'Kasba',
 'Paschim Putiary',
 'Howrah',
 'Barisha Purba Para Road',
 'Tiljala',
 'Airport',
 'East Kolkata Township',
 'raghunathpur',
 'Barrackpore',
 'Lake Town',
 'Bhawanipur',
 'Alipore',
 'Park Street Area',
 'Elgin',
 'Thakurpukur',
 'Ashok Nagar',
 'Haltu',
 'Salt Lake City',
 'Kaikhali',
 'Chinar Park',
 'Baranagar',
 'Chandannagar',
 'Garfa',
 'Jorabagan',
 'Baidyabati',
 'Topsia',
 'Dhapa',
 'Netaji Nagar',
 'Maniktala',
 'Cossipore',
 'Nayabad',
 'Baghajatin',
 'Jadavpur',
 'Kankurgachi',
 'Pancha Sayar',
 'Phool Bagan',
 'Bansdroni',
 'Kustia',
 'Ganguly Bagan',
 'Jodhpur Park',
 'Dakshineswar',
 'Bhatenda',
 'Reekjoyoni',
 'Khardah',
 'Kamarhati on BT Road',
 'Paschim Barisha',
 'Nabapally',
 'Dhakuria',
 'Regent Park',
 'Patuli',
 'kalikapur',
 'Budge Budge',
 'Beliaghata',
 'Baguihati',
 'Shyamnagar',
 'Uttar Panchanna Gram',
 'birati',
 'Maheshtala',
 'North Dumdum',
 'Bramhapur',
 'deshbandhu nagar',
 'Ward No 113',
 'Kamalgazi',
 'VIP Nagar',
 'Barisha',
 'Ichapur',
 'Salkia',
 'Bally',
 'Sealdah',
 'Keyatala',
 'Boral',
 'Liluah',
 'Dum Dum Cantonment',
 'Mali Panchghara',
 'Kamdahari',
 'Akra',
 'Sarada Pally',
 'Sinthi',
 'Rajpur',
 'Panihati',
 'Baruipur',
 'Golf Green',
 'Howrah Railway Station',
 'Shibpur',
 'Buroshibtalla',
 'Bankra',
 'College Square',
 'Beniapukur',
 'Bow Bazaar',
 'Mominpore',
 'Satchashipara',
 'Harinavi',
 'Dunlop',
 'Chotto Chandpur',
 'Jagadishpur',
 'Kabardanga',
 'Sant Nagar',
 'Noapara',
 'Banamalipur',
 'Bonhooghly on BT Road',
 'Botanical Garden Area',
 'Royde Park',
 'Panchpota',
 'Taltala',
 'Bally Khal',
 'Ghosh Para',
 'Murali',
 'Rishra',
 'N S C Bose Road',
 'Madurdaha',
 'purbalok',
 'Bijoygarh',
 'New Barrackpur',
 'Rajbari',
 'New Barrackpore',
 'Parui Mauza',
 'Parnashree',
 'Prince Anwar Shah Connector',
 'Kamalgazi Flyover',
 'Sahid Khudiram Metro Station Road',
 'Behala Chowrasta',
 'Beckbagan',
 'Garia Place',
 'Sarat Bose Road',
 'Mohisbathan',
 'E M Bypass',
 'Action Area III',
 'Prince Anwar Shah Rd',
 'Hazra',
 'Entally',
 'Southern Avenue',
 'Action Area I',
 'Swiss Park',
 'Rabindra Sarovar',
 'Nager Bazar',
 'Sector II Salt Lake',
 'Action Area I Newtown',
 'Kamalgachhi More',
 'Khasmallik',
 'Pratapaditya Road',
 'Sapuipara',
 'Behala Thana',
 'Roy Bahadur Road',
 'Kalitala Road',
 'Naktala',
 'New Town Action Area I',
 'Rajarhat Chowmatha',
 'Selimpur Road',
 'Rash Behari Avenue',
 'Brahmapur Road',
 'Ramlal Bazar',
 'Topsia Road',
 'Dhakuria Station Road',
 'Babu Bagan',
 'Kalipark Kolkata',
 'Dum Dum Cantonment Kolkata',
 'New Ballygunge',
 'C R Avenue',
 'Karunamoyee',
 'Dum Dum Metro',
 'Fartabad Road',
 'Dharmatala Road',
 'Lohar Bridge',
 'Nazir Bagan',
 'Bansdroni Metro Station Road',
 'Kudghat Bridge',
 'Selimpur Lane',
 'Bedia Danga Kasba',
 'New Ballygung Road',
 'Sulekha',
 'Chingrighata',
 'Sector IV Salt Lake',
 'Gitanjali Metro Station Road',
 'Mankundu',
 'NSC Bose Road Mahamaya Tala Garia',
 'Kayastopara',
 'Dumdum Italgacha',
 'Gitanjali Park',
 'Action Area IIB Newtown',
 'Prafulla Kanan',
 'Ruby Hosp Main Road',
 'Naktala Road',
 'Mahamayatala',
 'Anandapur',
 'Jodhpur Gardens',
 'kalikapur gitangali park',
 'Bondal Gate',
 'Nayabad Main Road',
 'Kasba Siemens',
 'New Shakuntala Park',
 'Residential Independent House Jadavpur',
 'Madurdaha Near Ruby Hospital On EM Bypass',
 'Nandi Bagan',
 'Camac Street',
 'Ramchandrapur',
 'B T Road',
 'Eastend Park Kalikapur',
 'Chatterjee Bagan',
 'EM Bypass South East',
 'Sodepur B T Road',
 'Picnic Garden',
 'salt lake sec iii',
 'Kavi Nazrul Metro Station Road',
 'Baguiati Hela Battala',
 'Selimpur',
 'Newtown AA III',
 'R B Connector',
 'Belghoria Expressway',
 'Lake Market',
 'Ramlal Bazaar',
 'Garia Rathtala',
 'Bangur',
 'N S C Bose Road  Narendrapur',
 'N S C Bose Road Narendrapur',
 'Jessore Road',
 'International Airport',
 'Park Circus',
 'Purbalok Main Road',
 'New Town AA 3',
 'Durgapur',
 'Biren Roy Road',
 'Biren Roy Road West',
 'Belgachia',
 'Adarshapally Surjaysen Nagar',
 'shalimar',
 'Airport Area',
 'boral main road',
 'Jatin Das Road',
 'Anil Maitra Road',
 'Rajpur Sonarpur',
 'Rash Behari Avenue Connector',
 'Mission Pally',
 'Tagore Park Road',
 'Mission Palli Road',
 'Atabagan',
 'New Town Rajarhat Action Area 3',
 'New Town Rajarhat',
 'Diamond Park',
 'BADU ROAD',
 'Jatragachi Flyover',
 'VIP Road',
 'Block O',
 'New Town Action Area II',
 'Moore Avenue',
 'New Alipore Road',
 'Action Area II Newtown',
 'Nayabad Daspara',
 'Bangur avenue',
 'Sonali Park',
 'Sodepur Road',
 'Kankurgachi Main Road',
 'Wood Street',
 'BT Road Titagarh',
 'Joginder Garden Lane',
 'Ballygunge Place East',
 'Kestopur',
 'Acharya Jagadish Chandra Bose Road',
 'Park Circus Road',
 'Ripon street',
 'Raja Ram Mohan Roy Road',
 'Kudgat',
 'Bablatala',
 'Kadamtala Dakshinpara Road',
 'Paikpara',
 'Ganguly Para',
 'Fartabad',
 'Jodthbhim Newtown',
 'Durganagar']

In [120]:
print(len(locations))

308

In [121]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [122]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308]

In [123]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [124]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,1,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,2,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,3,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,4,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,5,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0

In [125]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,2235000,1016,1,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,3665999,1111,2,2,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3774000,1020,3,2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2524000,935,4,2,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,8300000,1956,5,3,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6502,4208000,1570,50,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6503,10100000,1208,4,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6504,6669000,815,3,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6505,4608000,952,59,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6506,9148000,1130,43,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [126]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [127]:
X=dataset.iloc[:,1:]

In [128]:
X=X.values

In [129]:
Y=dataset.iloc[:,0]

In [130]:
Y=Y.values

In [131]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [132]:
X_train.shape

(51, 37)

In [133]:
X_test.shape

(22, 37)

In [134]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [135]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [136]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [137]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.5562653471107704

In [138]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.20815582813144995

In [139]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.8355165478765233

In [140]:
import pickle

model=open('../static/models/modelkolkata.pkl','wb')
pickle.dump(dt,model)
model.close()